/* =============
    Base
============= */

figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

body {
  background-color: $white;
  overflow: hidden;
}

.container {
  display: grid;
  height: 60vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
}
