/* =============
    Typography
============= */

body {
  font-family: 'Muli', sans-serif;

  #typed-text {
    position: relative;
    z-index: 0;

    h1 {
      font-size: 205pt;
      background: -webkit-linear-gradient(top, #30ddf4 1%,#63e053 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      position: absolute;
      top: 20;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  text-align: center;
}
